* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* -------====Dung Chung=====------- */
a {
  text-decoration: none;
  position: relative;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}

/* -------====Header====------ */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  /* font-weight: 600; */
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  left: 21px;
  bottom: 6px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ------Hero----- */
.hero {
  background: #fffcf4;
  padding: 56px;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  padding: 24px;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 16px 32px 0px #0000000d;
}
.hero-summary .item {
  display: flex;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff9e8;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero-summary .icon .icon2 {
  padding: 24px;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  font-size: 1.4rem;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #5f5b53;
}
.hero-summary.title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #171100;
}

/* content-block */
.hero .content-block {
  width: 52%;
  padding-top: 130px;
  padding-left: 64px;
}
.hero .cta-ground {
  margin-top: 38px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  color: #171100;
}
.hero .design {
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
  color: #5f5b53;
}
.hero-cta {
  background: var(--primary-color);
  min-width: 180px;
  line-height: 64px;
  align-items: center;
}
.hero .Watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  color: #171100;
}
.hero .Watch-video .icon {
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  box-shadow: 0px 18px 16px 0px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.hero .cta-ground .Watch {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #171100;
}
.hero.design-recent {
  margin-top: 48px;
}
.hero .stats strong {
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  text-align: left;
  color: #171100;
  margin-right: 15px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* polular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
  background: #ffffff;
}
.popular .main-content {
  width: 1170px;
  height: 645px;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .heading {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  text-align: left;
}
.popular .design {
  font-size: 1.8rem;
  line-height: 30px;
  text-align: left;
  color: #5f5b53;
  width: 458px;
  height: 60px;
}
.popular .controls:hover {
  opacity: 0.8;
}
.popular .controls {
  width: 98px;
  height: 40px;
}
.popular .controls-btn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  background: #ffffff;
}
.popular .controls-btn:nth-child(2) {
  background: #ffb900;
  margin-left: 13px;
}
/* ----------------- */
.popular .courses-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular .courses-item {
  flex: 1;
  height: 466px;
  width: 370px;
  border-radius: 12px;
  background: #ffff;
  border: 1px solid #e2dfda;
}
.popular .courses-item:hover {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .courses-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}
.popular .info {
  padding: 0px 22px;
  width: 326px;
  height: 150px;
  margin-left: 25px;
  margin-top: 10px;
}
.popular .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .title {
  width: 159px;
  height: 30px;
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.popular .rating {
  width: 48px;
  height: 28px;
  color: var(--primary-color);
}
.popular .star {
  width: 18px;
  height: 18px;
}
.popular .value {
  width: 24px;
  height: 28px;
  font-family: Poppins;
  font-size: 1.6rem;
}
.popular .label {
  height: 52px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
  margin-top: 10px;
}
.popular .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.popular .price {
  width: 67px;
  height: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #171100;
}
.popular .btn-book-now {
  width: 118px;
  height: 50px;
  border: none;
}
.popular .btn-book-now:hover {
  background: var(--primary-color);
  cursor: pointer;
}
/* =================Feedback=================== */
.feedback {
  padding: 96px 0;
  margin-top: 135px;
  background: #2e2100;
}
.feedback .feedback-item {
  display: flex;
}
.feedback .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: over;
  border-radius: 50%;
}
.feedback .info .name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  color: #f7f7f7;
}
.feedback .info .desg {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
}
.feedback .info .dots {
  display: flex;
  gap: 6px;
  margin-top: 25px;
  cursor: pointer;
}
.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback .info .dot.active {
  background: var(--primary-color);
  cursor: default;
}
.feedback .content {
  width: 67%;
  margin-left: auto;
}
.feedback blockquote {
  font-size: 2.6rem;
  font-style: italic;
  line-height: 40px;
  color: #ffff;
}
