* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* -------====Dùng Chung=====------- */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  min-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 24.5px;
}
/* -------====Header====------ */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
